#container {
  color: #fff;
  top: 0;
  right: 0;
  left: 0;
  color: black;
  box-shadow: 0 4px 12px 0 rgb(0 0 0 / 5%);

  position: fixed;
  display: grid;
  grid-template-rows: 80px 583px;
}
/* nav start  */
.nav {
  display: grid;
  grid-template-columns: 100px auto auto auto;
}
.link {
  display: flex;
}
.link > p {
  margin-top: 25px;
  font-family: WhitneySSm, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  margin-left: 30px;
}
.logo > img {
  margin-top: 18px;
  margin-left: 40px;
}
/* nav end */

/* main div */
.main_content {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  background-color: #fdeeef;
}
.main_content > div {
  width: 30%;
  height: 90%;
  background-color: white;
  margin: auto;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
/* inside main one div for all content and inside this two divs  image and link */
.main_content > div > div:nth-child(1) {
  margin-top: 40px;
  width: 40%;

  margin-left: 50px;
}
.main_content > div > div:nth-child(2) {
  width: 80%;
  margin: auto;
  margin-top: 15px;
  height: 60%;
}

/* input fields */
.inputfield > div {
  margin: 10px;
}
.full-input {
  display: flex;
  border: 2px solid rgb(49, 49, 58);
  height: 40px;
  border: 1px solid #d4d5d9;
}
input {
  outline: none;
  border: none;
  line-height: 1.2em;
  font-size: 15px;
}
label {
  font-size: 18px;
  margin-top: 7px;
  margin-left: 5px;
}

.welcome {
  font-size: 22px;
  font-weight: 550;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.midLinks a {
  cursor: pointer;
  color: #ff3c6f;
  font-weight: 500;
}
.midLinks {
  font-family: WhitneySSm, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif;
  font-size: 15px;
  padding: 15px;
  padding-left: 0px;
  text-align: start;
}
.login {
  font-family: WhitneySSm, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 1.42857143;
  color: #424553;
  height: 40px;
  margin: auto;
}
.login > span {
  cursor: pointer;
  color: #ff3c6f;
  font-weight: 500;
}

/* verificition part */
.img > img {
  width: 60%;
  height: 6 0%;
}

.fullInput {
  width: 60%;
  height: 40px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-around;
}
.fullInput > div {
  width: 50%;
  border: 1px solid #d4d5d9;
}
#number1,
#number2,
#number3,
#number4 {
  width: 60%;
  height: 90%;
  border: 1px solid #d4d5d9 transparent;
}

@media only screen and (min-width: 375px) and (max-width: 768px) {
  .main > div {
    width: 40%;
    background-color: white;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
}
@media only screen and (min-width: 0px) and (max-width: 375px) {
  .main {
    display: grid;
    grid-template-columns: auto;
    background-color: #fdeeef;
  }
  .main > div {
    width: 40%;
    margin-left: 40px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
}
