 a {
   color: #ff3c6f;
 }

 body {
   font-family: "Shippori Antique", sans-serif;
   text-decoration: none;
   margin: 0;
   padding: 0;
   box-sizing: border-box;
 }

 .navbar {
   background-color: rgb(255, 255, 255);
   position: sticky;
   top: 0px;
   z-index: 1000;
   border-bottom: 1px solid rgb(214, 208, 208);
   height: 90px;
   box-shadow: rgb(0 0 0 / 45%) 0px 4px 49px -25px;
   transition: height 0.4s ease-in;
 }


 /* //main div */

 /* main div */
 .main {
   display: grid;
   height: 520px;
   grid-template-columns: repeat(1, 1fr);
   background-color: #fdeeef;
 }

 /* inside main one div*/
 .main>div {
   width: 28%;
   background-color: white;
   margin: auto;
   margin-top: 20px;
   box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
 }

 /* inside two divs for one for image and one input and links */

 .main>div>div:nth-child(1) {
   width: 100%;
   height: 40%;
 }

 .main>div>div:nth-child(2) {
   width: 100%;
   height: 60%;
 }

 .inputfield>div {
   margin: 20px;
 }

 .inputfield{
   position: relative;
   
 }
 .inputfield .alert_message {
   position: absolute;
   bottom: 20px ;
   left: 0;
   position: absolute;
      bottom: 32%;
      left: 24%;
   
 }
 .inputfield .alert_message p {
    font-size: 12px;
    color: red;
   
 }

 .full-input {
   display: flex;
   border: 2px solid rgb(49, 49, 58);
   height: 40px;
   border: 1px solid #d4d5d9;
 }

 input {
   outline: none;
   border: none;
   line-height: 1.2em;
   font-size: 15px;
 }

 label {
   font-size: 15px;
   margin-top: 7px;
   margin-left: 5px;
 }

 .welcome {
   font-size: 22px;
   font-weight: 550;
   font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
 }

 .midLinks a {
   cursor: pointer;
   color: #ff3c6f;
   font-weight: 500;
 }

 .midLinks {
   font-family: WhitneySSm, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
     Helvetica, Arial, sans-serif;
   font-size: 15px;
   line-height: 1.42857143;
 }

 /* continue div for button */
 .continue {
   justify-content: center;
 }

 #button {
   width: 100%;
   height: 40px;
   cursor: pointer;
   background-color: #ff3f6c;
   text-align: center;
   border: 1px transparent;
   color: #fff;
   font-weight: 500;
   font-size: 14px;
 }

 .gethelp {
   font-family: WhitneySSm, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
     Helvetica, Arial, sans-serif;
   font-size: 15px;
   line-height: 1.42857143;
   color: #424553;
 }

 .gethelp>span {
   cursor: pointer;
   color: #ff3c6f;
   font-weight: 500;
 }
   .alert_pop_up {
     position: absolute;
         top: 27px;
         left: 30%;
     z-index: 900;
     display: grid;
     place-content: center;
       width: 34%;
     height: 23px;
     border: 1px solid rgb(3, 5, 5);
     border-radius: 6px;
     font-weight: 600;
     text-align: center;
     visibility: hidden;
     opacity: 0;
     transform: translateY(-100%);
     border: 2px solid red;
     transition: all 0.4s ease-in-out;
     background-color: white;
   }

  .show_pop_up {
     visibility: visible;
     opacity: 1;
     transform: translateY(20%);
   }

 @media only screen and (min-width: 375px) and (max-width: 768px) {
   .main>div {
     width: 60%;
     background-color: white;
     margin: auto;
     box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
   }
 }

 @media only screen and (min-width: 0px) and (max-width: 375px) {
   .main {
     display: grid;
     grid-template-columns: auto;
     background-color: #fdeeef;
   }

   .main>div {
     width: 60%;
     margin-left: 35px;
     background-color: white;
     box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
   }
 }
     
